<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">

        <!-- 
            [class.selected] - Adiciona a classe ".selected" caso o heroi selecionado seja o mesmo do cliacado
         -->
        <!--   DEAD CODE - Mantido para fins de consulta
            <a routerLink="/detail/{{hero.id}}" [class.selected]="hero === selectedHero" (click)="onSelect(hero)"> 
                -->
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </a>
    </li>
</ul>

<!-- Criar novo herói -->
<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName>

    <!-- passa o valor de input para o metodo e limpa seu valor -->
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">Add Hero</button>

</div>